*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

a{
	text-decoration: none;
	cursor: pointer;
}

th{
	font-weight: normal;
}

button{
	border: none;
	cursor: pointer;
	outline: none;
	background-color: transparent;
}

input, select{
	outline: none;
}

input:focus, select:focus {
    outline-offset: 0;
}

select{
	text-transform: capitalize;
}

.rows_container{
	display: flex;
}
.rows_container.x_start{
	justify-content: flex-start;
}

.rows_container.x_end{
	justify-content: flex-end;
}

.rows_container.x_center{
	justify-content: center;
}

.rows_container.x_space_between{
	justify-content: space-between;
}

.rows_container.y_center{
	align-items: center;
}

.cols_container{
	display: flex;
	flex-direction: column;
}

.cols_container.x_start{
	justify-content: flex-start;
}

.cols_container.x_end{
	justify-content: flex-end;
}

.cols_container.x_center{
	justify-content: center;
}

.cols_container.x_space_between{
	justify-content: space-between;
}

.cols_container.y_center{
	align-items: center;
}

.btn_1{
	border-radius: 3px;
	display: inline-block;
	padding: 0.4em 0.8em;
	font-family: 'Barlow', sans-serif;
	font-weight: 400;
	font-size: 2rem;
	color: white;
}

.btn_1.orange{
	background-color: #f16d07;
}

.btn_1.orange_gradient{
	background: linear-gradient(to right, #eb883b, #f26900);
}

.highlightText{
	color: #f16d07;
}

.Carousel{
    width: 40rem;
}

.Carousel .body{
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.Carousel .display, .Carousel .item{
    width: 100%;
    flex-shrink: 0;
}

.head_section{
	padding-top: 12rem;
}

.navbar{
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 1.8rem;
	color: #FFFFFF;
	background-color: #1b1b1b;
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}

.navbarBrand{
	display: inline-block;
	padding: 1.2rem 0;
	width: auto;
	flex-shrink: 0;
}

.navbarBrand img{
	width: 8rem;
	height: auto;
}

.navbarLinks{
	width: 100%;
	display: flex;
	justify-content: center;
}

.navbarLinks ul{
	display: flex;
	list-style-type: none;
}

.navbarLinks .link{
	display: inline-block;
	padding: 1.8rem 2rem;
	font-family: 'Barlow', sans-serif;
	font-size: 1.6rem;
	color: #FFFFFF;
	transition: color 0.3s ease;
}

.navbarLinks .link:hover{
	color: #f16d07;
}

.navbarLinks .dropdown{
    position: relative;
    display: inline-block;
}

.navbarLinks .dropdown .toggle{
	display: flex;
	align-items: center;
	padding: 1.8rem 2rem;
	font-family: 'Barlow', sans-serif;
	font-weight: 400;	
	font-size: 1.6rem;
	color: #FFFFFF;
	transition: color 0.3s ease;
}

.navbarLinks .dropdown .text{
	display: inline-block;
	margin-right: 0.8rem;
}

.navbarLinks .dropdown .arrow{
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border: none;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	transform: rotateZ(45deg);
}

.navbarLinks .dropdown .menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%; left: 0;
    min-width: 20rem;
    padding: 1.4rem 0;
    border-top: 2px solid #f16d07;
    background-color: #1b1b1b;
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, transform;
    transition-duration: 0.3s, 0.3s;
    transform: translateY(4%);
}

.navbarLinks .dropdown .item > *{
    display: inline-block;
    padding: 1.2rem 1.2rem;
    cursor: pointer;
	font-family: 'Barlow', sans-serif;
	font-weight: 500;
    font-size: 1.5rem;
    color: #FFFFFF;
    transition-property: color, transform;
    transition-duration: 0.2s, 0.2s;
}

.navbarLinks .dropdown .item:hover > *{
    color: #f16d07;
    transform: translateX(1%);
}

.navbarLinks .dropdown .toggle:focus ~ .menu{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.navbarLinks .dropdown .menu:hover{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.navbarActions{
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
}

.navbarActions .btn{
	display: inline-block;
	width: 3.2rem; height: 3.2rem;
	border-radius: 100%;
	background-color: #2b272f;
}

.clsNavbar{
	display: none;
	padding-left: 2rem;
	align-self: flex-start;
	font-family: 'Barlow', sans-serif;
	font-weight: 400;
	font-size: 5rem;
	color: #f16d07;
}

.opnNavbar{
	display: none;
	padding-left: 1.4rem;
	margin-left: 1.4rem;
	border-left: 1px solid white;
}

.opnNavbar span{
	display: block;
	margin: 0.3rem 0;
	width: 3rem;
	height: 3px;
	border-radius: 4px;
	background-color: #FFFFFF;
}

.menuGrid{
	width: 78%;
	height: auto;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 32% 32% 32%;
	grid-column-gap: 2.6%;
	grid-row-gap: 2%;
	border-radius: 2px;
}

.menuGrid .menu{
	display: flex;
	flex-direction: column;
	min-height: 2rem;
	align-items: center;
	padding: 2rem;
	box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
}

.menuGrid .img{
	width: 16rem;
	height: 16rem;
	margin-bottom: 1.2rem;
	border-radius: 100%;
	object-fit: cover;
}

.menuGrid .text{
	width: 100%;
	padding-left: 1rem;
	display: flex;
	flex-direction: column;
	font-family: 'Barlow', sans-serif;
}

.menuGrid .name{
	width: 100%;
	margin-bottom: 0.4rem;
	font-family: 'Lobster Two', sans-serif;
	font-size: 2rem;
	text-align: center;
	color: #363636;
}

.menuGrid .details{
	width: 100%;
	margin-bottom: 2rem;
	font-size: 1.6rem;
	font-weight: 400;
	text-align: center;
	color: #666666;
}

.menuGrid .price_quantity{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menuGrid .price{
	width: 100%;
	font-size: 1.8rem;
	font-weight: 600;
	color: #f16d07;	
}

.menuGrid .quantity{
	display: flex;
	align-items: center;
	color: #666666;
	font-size: 2.4rem;
}

.menuGrid .quantity button, .menuGrid .quantity span{
	display: inline-block;
    padding: 0.6rem 1.2rem;
    font-weight: 600;
    font-size: 2rem;
    color: #666666;
    background-color: #F2F2F2;
}
.cart table{
	margin: 0 auto;
	width: 78%;
	border-collapse: collapse;
	font-family: 'Barlow', sans-serif;
	font-size: 1.6rem;
	color: #666666;
}

.cart tr{
	border-bottom: 1px solid #D9D9D9;
}

.cart th, .cart td{
	padding: 1.4rem 1.8rem;
}

.cart th{
	font-weight: 600;
}

.cart .menu{
	width: 40%;
}

.cart .menu > span{
	display: flex;
	align-items: center;
}

.cart .menu img{
	width: 7rem; height: 7rem;
	margin-right: 1rem;
	object-fit: cover;	
}

.cart .unitPrice{
	text-align: center;
}

.cart .quantity{
}

.cart .quantity > span{
	display: flex;
	justify-content: center;
	columns: #666666;
}

.cart .qt{
	padding: 0.6rem 1.2rem;
	background-color: #F2F2F2;
	font-size: 1.8rem;
	font-weight: 600;
}
.cart .qtBtn{
	display: inline-block;
	padding: 0.6rem 1.2rem;
	font-weight: 600;
	font-size: 2.2rem;
	background-color: #F2F2F2;
}

.cart .total{
	text-align: center;
}

#UserApp.landing_view .head_section{
	width: 100%;
	min-height: 100vh;
	background: url('../images/bg_5.jpg') no-repeat scroll 0 0;
	background-size: cover;
}

#UserApp.landing_view h1{
	width: 50%;
	padding-left: 4rem;
	font-family: 'Lobster Two', sans-serif;
	font-size: 2.4rem;
	text-align: left;
	color: #f16d07;
}

#UserApp.landing_view h1 > span{
	display: block;
	font-size: 3.8rem;
	color: #FFFFFF;
}

#UserApp.landing_view .head_section p{
	width: 50%;
	padding-left: 4rem;	
	font-family: 'Barlow', sans-serif;
	font-weight: 400;
	font-size: 1.8em;
	color: #FFFFFF;
}

#UserApp.menus_view h1{
	width: 100%;
	margin-bottom: 3rem;
	font-family: 'Lobster Two', sans-serif;
	font-size: 2.8rem;
	text-align: center;
	color: #363636;
}

#UserApp.cart_view h1{
	width: 100%;
	margin-bottom: 3rem;
	font-family: 'Lobster Two', sans-serif;
	font-size: 2.8rem;
	text-align: center;
	color: #363636;
}

@media only screen and (min-width: 1281px) {
  html{
    font-size: 0.78125vw;
  }
}

@media only screen and (max-width: 1280px) {
	html{
		font-size: calc(10px -  ( (1280px - 100vw) *  0.00138 ) );
	}
}

@media only screen and (max-width: 1100px) {
}

@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 900px){
	.navbar{
		justify-content: space-between;
	}

	.navbarLinks{
		width: 50vw;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		position: fixed; top: 0; right: 0;
		height: 100vh;
		background-color: #1b1b1b;
		transform: translateX(100%);
		transition: transform 0.3s ease;
	}

	.navbarLinks.shown{
		transform: translateX(0);
	}

	.navbarLinks ul{
		display: block;
		width: 100%;
	}
	.navbarActions{
		flex-shrink: 1;
	}
	.opnNavbar{
		display: inline-flex;
		flex-direction: column;
	}
	.clsNavbar{
		display: block;
	}
	.menuGrid{
		grid-template-columns: 48.4% 48.4%;
		grid-row-gap: 1.2%;
	}	
}	


@media only screen and (max-width: 800px) {
	.menuGrid{
		width: 88%;
		grid-row-gap: 1.2%;
	}
	.cart table{
		width: 88%;
	}	
}

@media only screen and (max-width: 700px) {
	.menuGrid{
		width: 86%;
		grid-template-columns: 100%;
		grid-row-gap: 1%;
	}
	.cart table{
		width: 86%;
	}	
}

@media only screen and (max-width: 600px) {	
}

@media only screen and (max-width: 500px) {
	.menuGrid{
		width: 90%;
	}	
	.cart table{
		width: 90%;
	}
}